<?xml version="1.0" encoding="UTF-8"?>
<!-- 日志级别分为7种：
	1:OFF
	2:FAFL
	3:ERROR
	4:WARN
	5:INFO
	6:DEBUG
	7:TRACE
	8:ALL
	如果没有配置默认级别是TRACE，这里定义的是log4j2框架自身的输出级别
				 -->
<Configuration status="OFF">
    <Appenders><!-- 用于配置输出源 -->
        <!-- Console：用于配置控制台的输出 -->
        <Console name="console" target="SYSTEM_OUT">
            <!-- PatternLayout:用于定义输出信息的格式
                    %d 输出时间可以在后面用{}指定格式
                    %-5level	输出日志的等级信息 p
                 %logger{36} 	输出类信息 ，最多36个字符
                 %msg		将我们自己输出的信息打印出来
                 %n			换行
                 %t			线程名称
                 %l			指包名，类名，方法名，以及代码的具体位置
             -->
            <PatternLayout pattern="%d{HH:mm:ss} --- [%l] [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!-- name			bean名称
                fileName		文件名称
                append			文件是否在每次重启服务的时候清空

                 -->
        <File name="myLog" fileName="/Users/zhangruiyan/Desktop/IdeaProjects/mmall/log/test.log" append="true">
            <PatternLayout pattern="%d{HH:mm:ss} --- [%l] [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <RollingFile name="rollingFile" fileName="/Users/zhangruiyan/Desktop/IdeaProjects/mmall/log/log.log" filePattern="/Users/zhangruiyan/Desktop/IdeaProjects/mmall/log/log/$${date:yyyy-MM}/%d{yyyy-MM-dd}-%i.log">
            <!-- 指定文件输出的级别，符合条件的输出，不符合的直接拒绝 -->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss} --- [%l] [%t] %-5level %logger{36} - %msg%n"/>
            <policies>
                <TimeBasedTriggeringPolicy />
                <!-- 当日志超过这个size之后，会按照年月的文件夹中，并自动压缩 -->
                <SizeBasedTriggeringPolicy size="88 MB"/>
            </policies>
        </RollingFile>
    </Appenders>
    <Loggers><!-- 这里面要引用上面的输出源 -->
        <Root level="DEBUG"><!-- Root用来定义我们自身的输出级别 -->
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
            <AppenderRef ref="myLog"/>
        </Root>
    </Loggers>
</Configuration>